# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
.env

# Data files
data/*.csv
data/*.parquet
data/*.json
data/**/*.csv
data/**/*.parquet
data/**/*.json

# Build / dist
dist/
*.egg-info/

# Keystore files
*.jks
*keystore*
my-key-base64.txt
